POLYGON_API_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT="script:fetch-wsb:v1.0 (by u/yourusername)"
MONGO_URI=
SMF_SMTP_HOST=smtp.gmail.com
SMF_SMTP_PORT=587
SMF_SMTP_USER=
SMF_SMTP_PASS=
SMF_EMAIL_FROM=
SMF_EMAIL_TO=
SMF_EMAIL_SUBJECT=SMF Daily Report
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1